.container{
  display:flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}
.container h1{
  color: #1f1f1f;
  text-align: left;
}
.container ion-text{
  color: #1f1f1f;
  margin-right: 2cm;
  font-size: large;
  text-align: right;
}
.container ion-item{
   width: auto;
   height: 3cm;
 }
.container h2{
  color: #1f1f1f;
  text-align: center;
  text-wrap: avoid;
}

.container ion-img{
  width: 2.5cm;
  height: 1.5cm;

}
.container ion-label{
  color: #1f1f1f;
  margin-right: 2cm;
  font-size: medium;

}
