.container{
  display:flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}
.container h1{
  color: #1f1f1f;
  text-align: left;
}
.container h2{
  color: #1f1f1f;
  text-align: left;
  text-wrap: avoid;
}
.container h3{
  color: #9d9fa6;
}

.container ion-text{
   color: #1f1f1f;
   margin-right: 2cm;
   font-size: large;
   text-align: right;
 }

.container ion-label{
  color: #1f1f1f;
  margin-right: 1cm;
  font-size: medium;
}
.ion-margin-end{
  color: #1f1f1f;
  text-align: right;
  margin-right: 1cm;
}
.ion-align-self-end{
  color: #1f1f1f;
  text-align: right;
  margin-right: 2cm;
  font-size: large;
}

