<ion-header [translucent]="true">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Delivecrous</title>
        <link href="https://cdn.staticfile.org/ionic/1.3.2/css/ionic.css" rel="stylesheet">
        <script src="https://cdn.staticfile.org/ionic/1.3.2/js/ionic.bundle.min.js"></script>
    </head>
    <ion-toolbar>
        <div class="bar bar-header bar-energized">
            <button (click)="goToHome()" class="button icon-left ion-chevron-left ">Retour</button>
            <h1 class="title">Delivecrous</h1>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
    <img src='assets/icon/merci.png'/>
    <img class="back-btn" src='assets/icon/livraison.jpg'/>
      <h1>Commande envoyée</h1>
    </div>
</ion-content>
