<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img src=".\hotpot5">
    <ion-card-header>
      <ion-card-subtitle>HotPot</ion-card-subtitle>
      <ion-card-title>Prix: 20€</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La fondue chinoise, c'est bon !
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src=".\hotpot5">
    <ion-card-header>
      <ion-card-subtitle>HotPot</ion-card-subtitle>
      <ion-card-title>Prix: 20€</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La fondue chinoise, c'est bon !
    </ion-card-content>
  </ion-card>


</ion-content>
