<ion-header [translucent]="true">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Delivecrous</title>
    <link href="https://cdn.staticfile.org/ionic/1.3.2/css/ionic.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/ionic/1.3.2/js/ionic.bundle.min.js"></script>
  </head>
  <ion-toolbar>
    <div class="bar bar-header bar-energized">
      <h1 class="title">Delivecrous</h1>
      <button (click)="goToPanier()" class="button icon-right ion-chevron-right button-stable">
        <ion-icon name='cart-outline' is-active="true"></ion-icon>
        Panier
      </button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngFor="let f of foods">
  <ion-row>
    <ion-col>
      <ion-card >
        <img src={{f.image}} (click)="goToFoodDetail(f)">
        <ion-card-header (click)="goToFoodDetail(f)" >
          <ion-card-subtitle>{{f.nom}}</ion-card-subtitle>
          <ion-card-title>Prix: {{f.prix}}€</ion-card-title>
        </ion-card-header>
        <ion-card-content (click)="goToFoodDetail(f)">
        {{f.description}}
        </ion-card-content>
        <ion-button color="primary" expand="block" fill="outline" (click)="addToPanier(f)">Ajouter au panier</ion-button>
      </ion-card>
    </ion-col>
    </ion-row>
</div>

</ion-content>
