<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Chinese restaurant</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngFor="let f of foods">
  <ion-row>
    <ion-col>
      <ion-card>
        <img src={{f.image}}>
        <ion-card-header>
          <ion-card-subtitle>{{f.nom}}</ion-card-subtitle>
          <ion-card-title>Prix: {{f.prix}}€</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        {{f.description}}
        </ion-card-content>
        <ion-button color="primary" expand="block" fill="outline" (click)="goToCommande()">Ajouter au panier</ion-button>
      </ion-card>
    </ion-col>
    </ion-row>
</div>


</ion-content>
